<h2>Подпишитесь на рассылку, чтобы получить уведомления и новости</h2>
<form
    class="form-horizontal"
    role="form"
    action="/process?form=newsletter"
    method="POST"
>
    <input type="hidden" name="_csrf" value="{{csrf}}" />
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-4">
            <input
                type="text"
                id="fieldName"
                name="name"
                class="form-control"
            />
        </div>
    </div>
    <div class="form-group">
        <label
            for="fieldEmail"
            class="col-sm-2 control-label"
        >Е-мэйл</label>
        <div class="col-sm-4">
            <input
                type="email"
                class="form-control"
                required
                id="fieldName"
                name="email"
            />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button
                type="submit"
                class="btn btn-default"
            >Зарегестрироваться</button>
        </div>
    </div>
</form>
{{#section "jquery"}}
    <script>
        $(document).ready(function () { $('newsletterform').on('submit',
        function (evt) { evt.preventDefault(); var action =
        $(this).attr('action'); var $container =
        $(this).closest('.formContainer'); $.ajax({ url: action, type:
        'POST', success: function(data){ if(data.success){
        $container.html('<h2>Спасибо вам за регистрацию!</h2>'); } else {
        $container.html('<h2>Что-то пошло не так...</h2>'); } }, error:
        function(){ $container.html('<h2>Что-то пошло не так...</h2>'); }
        }); }); });

    </script>
{{/section}}